



* {
  margin: 1%;
  outline: none;
margin-right: 1%;
}

a{
    color: #000;
    text-decoration: none;
}

.body {
 margin: auto;
 font-family: Mulish;
}
.summary{
 display: inline-flex;
}
.fourty-seven-one{
 width: 4rem;
 height: 4.5005rem;
margin: auto;

}
.happy{
 color: #131318;
font-family: Mulish;
font-size: 2.25rem;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.journey{
 color: #FF5400;
font-family: Mulish;
font-size: 2.25rem;
font-style: normal;
font-weight: 800;
line-height: normal;
}
header {
  font-family: var(--font-poppins);
}
.menu {
  display: flex;
  
}
.menu-item{
    display: flex;
    margin-left: 50%;
    margin-right: 1%;
    gap: 30px;
}


.menu img{
    display: none;
}

.menu h1 {
  font-size: 24px;
  font-weight: 700;
}

.menu ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.menu li {
 color:var(--Dark-02, #424247); 
  margin-left: 30px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* .menu img{
    height: 24px;
    width: 24px; */
/* } */
.banner{
  background-image: linear-gradient(to bottom  , rgba(0, 0, 0, 1)
  5%, rgba(0, 0, 0, 0) 50%), url("./Images/banner.jpg") ;
  border-radius: 1rem;
  border-radius: 1rem;
   background-size: cover;
   height: 500px;
}
.tag-and-paragraph {
  padding-top: 1%;
  text-align: center;
}
.explore{
 margin-top: 100px;
  color: #FFF;
  font-family: Mulish;
  font-size: 4rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal; 
}
.paragraph{
  color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 1rem;
font-style: normal;
font-weight: 400;
}
form{
  justify-content: center;
  align-items: center;
  text-align: center;
  display: inline-flex;
  padding: 1rem;
margin-left: 22%;
margin-right: 25%;
  gap: 1.5rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.30);
}
input{
  border-radius: 0.5rem;
  border: none;
  text-align: center;
  width: 10.875rem;
height: 3.25rem;
}
button{
  width: 10.875rem;
height: 3.25rem;
border-radius: 0.5rem;
background-color: #FF5400;
border: none;
color: #FFF;
}
main{
  margin-top: 50px;
  width: 100%;
  display: inline-flex;
background-size: cover;
height:500px;
}
.our-popular-tour{
  width: 60%;
}
.rectangle4{
  width: 40%;
}
.most{
  color: #5A5A5D;
font-family: Mulish;
font-size: 1rem;
font-weight: 400;
}
.list-item{
  /* margin-left: 0%; */
 margin-left: 1%;
  padding-left: 1%;
  margin-top: 1%;
  width: 32.8125rem;
font-family: Mulish;
font-size: 1rem;
font-weight: 400;
}
.study-tour{
  margin-top: 2%;
  width: 33.150rem;
  color: #5A5A5D;
font-family: Mulish;
font-size: 1rem;
font-weight: 400;
}
.read-more{
margin-top: 3%;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 1.25rem;
font-weight: 800;
}
.choose-your{
  margin-top: 12%;
  color: #131318;
text-align: center;
font-family: Mulish;
font-size: 2.5rem;
font-weight: 800;
}
.we-help{
  color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 1rem;
font-weight: 400;
}
.mother-div{
  margin: auto;
 justify-content: center; 
 text-align: center;
 align-items: center;
}
.first-div{
  margin: auto;
 justify-content: center; 
 text-align: center;
 align-items: center;

  display: inline-flex;
  /* background-size: cover; */
}
/* responsive design for mobile */
@media screen and (max-width: 600px) {
    .body{
      
        margin: 35px 35px;
    }
    .menu img{
        display: block;
        cursor: pointer;
    }

    .menu ul {
   
      flex-direction: column;
        /* top: 100px; */
        margin-top:10%;
    }
    .hidden{
        display: none;
    }
    .menu-item{
      flex-direction: column;
        /* gap: 0; */
    }
    .menu-img:focus ~ div ul{
        position: absolute;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu-img:focus ~ div ul li.hidden{
        display: block;  
    }
    .banner{
      /* margin-top: 70%; */
      background-position: center;
      width: 20.9375rem;
   height: 100%;
  
    }
    form{ 
flex-direction: column;
gap: 1rem;

    }
    main{
      flex-direction: column;
    }
    .most{
      width: 20.9375rem;
      font-size: 0.875rem;
      line-height: 1.5rem;
    }
    .list-item{
      font-size: 0.875rem;
      width: 20.9375rem;
      line-height: 1.5rem; 
    }
    .study-tour{
  font-size: 0.875rem;
  width: 20.9375rem;
  font-weight: 400;
  line-height: 1.5rem; 
    }
    .our-popular-tour{
      flex-direction: column;
    }
    .rectangle4 .one-photo{
      width: 20.9375rem;
      height: 21.375rem;
      flex-direction: column;
    }
.destination{
margin-top: 100%;
padding-top: 40%;
  width: 23.4375rem;
  height: 464.3125rem;
}
.choose-your{
font-size: 1.25rem;
}
.we-help{
  width: 19.3125rem;
font-size: 0.875rem;
}
}